/* @import "./partials/_variables.css";
@import "./partials/_global.css";
@import "./partials/_navigation.css"; */

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* variables */
:root{
    
    /* fonts */
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
    --ternary-font: 'Poppins', sans-serif;

    /* colors */
    --primary-color: white;
    --secondary-color: #1ABC9C;
    --witesmoke-color: whitesmoke;
    --black-color: #1b1b1b;
    --black-color2: #666;
    --border-color: #ddd;

    /* box-shadows */
    --box-shadow: 0px 15px 45px -9px rgba(0,0,0,.2);
    --box-shadow2: 0px 3px 13px 1px rgba(0,0,0,.12);
    --box-shadow3: 0 1px 9px rgba(0,0,0,0.05);
    --box-shadow4: 0 0 40px rgba(0,0,0,0.045);

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: var(--primary-font);
    color: var(--black-color);
    /* background: whitesmoke; */
}


/* resets */
a,.btn{
    box-shadow: none !important;
    outline: none !important;
    text-decoration: none !important;
}
a{
    color: var(--secondary-color);
}
p{
    font-size: 0.9rem;
    color: var(--black-color2);
}

/* global classes */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-wrap{
    flex-wrap: wrap;
}
.heading h1{
    font-family: var(--secondary-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    background: linear-gradient(
        to bottom,
        #1ABC9C 0,
        #40594B 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
}
/* .heading h1 span{
    font-weight: 900;
    color: var(--secondary-color);
} */
.heading .line{
    width: 50px;
    height: 10px;
    background: #db1e40;
    margin-bottom: 20px;
    margin-top: -15px;
    opacity: 0.5;
    position: relative;
    z-index: -1;
}

/* navigation */
.navbar{
    box-shadow: var(--box-shadow3);
    border-bottom: 2px solid var(--border-color);
    padding: 0;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.navbar .navbar-brand{
    padding: 0 !important;
    margin: 0 !important;
}
.navbar-brand img{
    max-width: 150px;
}
.navbar-collapse{
    /* border: 1px solid; */
}
.nav-item{
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0.5rem;
}
.nav-item .nav-link{
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    font-weight: bold;
}
.nav-item.active .nav-link,
.nav-item:hover .nav-link{
    color: var(--secondary-color) !important;
}
nav .dropdown-menu{
    margin-top: 8px;
    border-radius: 0 !important;
    border-top: 5px solid var(--secondary-color);
    min-width: 250px;
}
nav .dropdown-item{
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    font-weight: 300 !important;
}
nav .flag{
    width: 30px;
}
nav .dropdown-item.set{
    color: var(--secondary-color);
}


@media (max-width: 768px){
    nav{
        padding: 0 20px !important;
    }
    .nav-item{
        align-items: flex-start;
        padding: 0 20px;
    }
    .dropdown-menu{
        width: 100%;
    }
}




/* HERO STYLING */
.hero{
    height: 100vh;
    width: 100%;
    display: grid;
    place-content: center;
    position: relative;
    background: url("../assets/img/hero-back1.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 10;
}
.hero #particles-js{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: none;
}

/* hero slider */
.hero .hero-slider-wrapper{
    background: rgba(0, 0, 0, 0.2);
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    overflow: hidden;
}

.hero .slick-btn .btn{
    position: absolute;
    top: calc(50% + 50px);
    transform: translateY(-50%);
    
    border-radius: 0;
    width: 100px;
    height: 100vh;
    box-shadow: none !important;
    outline: none !important;
    color: white;
    font-size: 1.25rem;
    background: transparent;
    display: grid;
    place-content: center;
    border: none !important;
}
.hero .slick-btn .btn.btn-left{
    left: 0;
}
.hero .slick-btn .btn.btn-left:hover{
    background: linear-gradient(90deg, #00000077 0%, rgba(196, 196, 196, 0) 100%);;
}
.hero .slick-btn .btn.btn-right{
    right: 0;
}
.hero .slick-btn .btn.btn-right:hover{
    background: linear-gradient(-90deg, #00000077 0%, rgba(196, 196, 196, 0) 100%);;
}
.hero .card{
    position: relative;
    color: white;
    border: none;
    display: grid;
    place-content: center;
    height: 100vh;  
    text-align: center;
    background: transparent !important;
}

.hero .card .container{
    position: relative;
    z-index: 100;
}

.hero .card .hero-heading{
    font-family: var(--secondary-font);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 64px;
    line-height: 100%;
}
.hero .card .hero-sub-heading{
    font-family: var(--ternary-font);
    font-weight: 600;
}
.hero .card .hero-para{
    margin: 30px auto;
    color: white;
    max-width: 600px;
}
.hero .card .btn.btn-transparent{
    border: 2px solid var(--secondary-color);
    max-width: 150px;
    border-radius: 0;
    color: var(--secondary-color);
    background: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8rem;
    position: relative;
    z-index: 1000;
}
.hero .slick-dots{
    bottom: 100px;
}
.hero .slick-dots li button::before{
    font-size: 0.9rem;
    opacity: 0.8;
    color: white;
}
.hero .slick-dots li.slick-active button::before{
    color: var(--secondary-color);
    border: 2px solid white;
    border-radius: 50%;
}

/* about us */
.about-us,
.more-info{
    padding: 100px 0;
}
.about-us iframe{
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    box-shadow: var(--box-shadow2);
}


/* ! footer */
footer{
    position: relative;
}
footer:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/img/footer-back.png") center;
    opacity: 0.5;
    z-index: -1;
}
footer .container{
    padding: 50px 0;
}
footer .heading h1{
    font-size: 30px !important;
}
footer .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
footer .heading .line1{
    display: block;
    width: 100px;
    height: 5px;
    background: #1ABC9C;
    position: relative;
}
footer .heading .line1:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background: #40594B;
}
footer ul{
    padding: 0;
    list-style: none;
}
footer li{
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-bottom: 1px dashed var(--secondary-color);
    font-size: 0.8rem;
    max-width: 500px;
}
footer li a{
    color: #666;
}

footer label{
    font-size: 0.8rem;
    color: var(--black-color2);
    margin: 0;
}
footer .form-control{
    border: 1px solid var(--secondary-color);
    border-radius: 0;
}
footer .btn{
    border: 1px solid var(--secondary-color);
    border-radius: 0;
    background: var(--secondary-color);
    box-shadow: var(--box-shadow2) !important;
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-top: 10px;
    padding: 0.6rem 1rem;
}

@media (max-width: 768px){
    footer .container{
        padding: 30px;
    }
}

footer .card{
    padding:0;
    background: transparent;
    border: none;
}
footer p b{
    border-bottom: 1px solid;
}